<div id="app">
  <v-app id="inspire">
      <div v-for="select in selectedRows" :key="select"> {{select}}</div>
    <v-card>
      <v-data-table
        :headers="headers"
        :items="desserts"
        item-key="id"
        v-model="selectedRows"
        class="elevation-1">
          <template v-slot:item="{ item }">
            <tr :class="selectedRows.indexOf(item.id)>-1?'cyan':''" @click="rowClicked(item)">
                <td>{{item.name}}</td>
                <td>{{item.calories}}</td>
                <td>{{item.fat}}</td>
                <td>{{item.carbs}}</td>
                <td>{{item.protein}}</td>
                <td>{{item.iron}}</td>
            </tr>
        </template>
      </v-data-table>
    </v-card>
  </v-app>
</div>
